body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.summary-components {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.details {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

#title {
    padding: 0 0 10px 0;
    margin: 0px;
}

#income {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px solid darkgreen;
    width: 200px;
    height: 200px;
    padding: 15px;
    margin-top: 20px;
    border-radius: 1.5ex;
}

#expense {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px solid darkred;
    width: 200px;
    height: 200px;
    padding: 15px;
    margin-top: 20px;
    border-radius: 1.5ex;
}

.input-box {
    width: 190px;
    padding: .375rem .25rem;
}

.transactions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1000px;
    
}

.summary-img {
    width: 75px;
}

#head-img {
    width: 200px;
}

h3 {
    text-decoration: underline;
    font-weight: bolder;
}

.income-items {
    display:flex;
    flex-direction: column;
}

.income-transaction {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}